In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://m2pi.syzygy.ca/data/Airlines.csv.zip', index_col='id')

In [3]:
df.columns

Index(['Airline', 'Flight', 'AirportFrom', 'AirportTo', 'DayOfWeek', 'Time',
       'Length', 'Delay'],
      dtype='object')

In [4]:
df.head()

   Airline  Flight AirportFrom AirportTo  DayOfWeek  Time  Length  Delay
id
1       CO     269         SFO       IAH          3    15     205      1
2       US    1558         PHX       CLT          3    15     222      1
3       AA    2400         LAX       DFW          3    20     165      1
4       AA    2466         SFO       DFW          3    20     195      1
5       AS     108         ANC       SEA          3    30     202      0

In [ ]:
df.describe()

In [ ]:
df.isna().sum()

In [ ]:
df.dtypes

In [ ]:
categorical_cols = [col for col in df.columns if df[col].dtype =='object']
categorical_cols

In [ ]:
for category in categorical_cols:
    print(df[category].value_counts().sort_values(ascending = False).head(10))

## Scale and Encode the categorical values